<template>
  <div id="app">
    <button id="button">Expand It</button>
    <expander triggerElement="#button">
      <img alt="Vue logo" src="./assets/logo.png">
    </expander>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
</style>
